MEGACACHE_HOST=0.0.0.0
MEGACACHE_PORT=8080
MEGACACHE_MAX_ENTRIES=10000
MEGACACHE_MAX_BODY_BYTES=1048576
MEGACACHE_DEFAULT_TTL_SECONDS=300
MEGACACHE_DEFAULT_STALE_SECONDS=900
MEGACACHE_LEASE_SECONDS=30
# MEGACACHE_API_KEY=replace-me

